.prize-draw-admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 20px;
}

.prize-draw-admin-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold; 
    font-family: "Orbitron";
    cursor: pointer;
}

.prize-draw-admin-header-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prize-draw-admin-header-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prize-draw-admin-header-name span {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.prize-draw-icon-size {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (min-width: 576px) {
    .prize-draw-admin-header-logo {
        font-size: 28px;
    }
    .prize-draw-admin-header {
        padding: 0px 40px;
    }
}

@media (min-width: 760px) {
    .prize-draw-admin-header {
        padding: 0px 60px;
    }
}