.prize-draw-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 8px;
    margin-top: 10px;
}