.prize-draw-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
    font-weight: bold; 
    font-family: "Orbitron";
}

.prize-draw-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 576px) {
    .prize-draw-header {
        font-size: 28px;
    }
}